.element__like {
    border: none;
    background: url(../../../images/icon_like_outline.svg) center no-repeat;
    background-size: 100%;
    width: 22px;
    height: 19px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.2s;
}

.element__like:hover {
    opacity: 0.5;
}
