.content{
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
}

.page {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    font-family: Inter, sans-serif;
}

@media screen and (max-width: 900px) {
    .content {
        max-width: 880px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 700px;
    }
}
@media screen and (max-width: 320px) {
    .content {
        max-width: 282px;
    }
} 

.header {
    margin: 0 auto;
    margin-top: 45px;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
}
@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin-top: 28px;
    }
}

.logo__white {
    background-image: url(./././images/logo_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}
@media screen and (max-width: 768px) {
    .logo__white {
        margin: 0px 0px 34px 34px;
    }
} 
@media screen and (max-width: 320px) {
    .logo__white {
        margin: 0px 0px 32px 27px;
    }
} 

.profile {
    padding: 0;
    margin-top: 40px;
    display: flex;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .profile {
        margin: 0 auto;
        flex-direction: column;
    }
}

.profile__avatar {
    width: 120px;
    min-width: 120px;
    height: 120px;
    background-image: url(././images/image.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;

}

@media screen and (max-width: 768px) {
    .profile__avatar {
        width: 90px;
        min-width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .profile__avatar {
        margin: 0 auto;
        width: 120px;
        min-width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 320px) {
    .profile__avatar {
        margin-top: 42px;
    }
} 

.profile__info {
    margin-left: 30px;
    align-self: center;
    display: flex;
    position: relative;
    flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .profile__info {
        margin: 0;
    }
}


.profile__info-name {
    margin: 0;
    font-size: 42px;
    color: #FFFFFF;
    line-height: 48px;
    font-weight: 500;
    position: relative;
}

@media screen and (max-width: 768px) {
    .profile__info-name {
        font-size: 32px;
    }
}

@media screen and (max-width: 320px) {
    .profile__info-name {
        margin: 0 auto;
        font-size: 27px;
        text-align: center;
        margin-top: 26px;
    }
}

.profile__info-job {
    margin: 0;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    font-weight: 400;
    position: relative;
}

@media screen and (max-width: 768px) {
    .profile__info-job {
        font-size: 16px;
    }
}
@media screen and (max-width: 320px) {
    .profile__info-job {
        font-size: 14px;
        text-align: center;
        margin-bottom: 36px;
    }
}

.profile__button-edit {
    min-width: 24px;
    height: 24px;
    background: url(././images/edit-button.svg) center no-repeat;
    background-size: 50%;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    align-self: center;
    position: absolute;
    right: 0;
    transform:translate(40px, 14px);
}

.profile__button-edit:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .profile__button-edit {
        min-width: 18px;
        height: 18px;
        display: flex;
        position: absolute;
    }
}
@media screen and (max-width: 320px){
    .profile__button-edit {
        min-width: 18px;
        height: 18px;
        display: flex;
        position: absolute;
        transform:translate(30px, 42px);
    }
}

.icon {
    margin: 0 auto;
}

.profile__button-add {
    margin: 0;
    background: url(././images/Vector_pluse.svg) center no-repeat;
    background-size: 15%;
    width: 150px;
    min-width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__button-add {
        margin: 0 auto;
        width: 282px;
        min-width: 282px;
        height: 50px;
        background-size: 5%;
    }
}

.elements {
    margin: 0 auto;
    padding: 0;
    margin-top: 50px;
    max-width: 100%;
    display: grid;
    row-gap: 20px;
}

@media screen and (max-width: 768px) {
    .elements {
        max-width: 584px;
    }
}

.element__grids {
    margin: 0;
    max-width: 100%;
    padding: 0;
    display: grid;
    object-fit: cover;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .element__grids {
        margin: 0 auto;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 320px) and (max-width: 650px){
    .element__grids {
        margin: 0 auto;
        gap: 10px;
        grid-template-columns: 1fr;
    }
}

.element {
    margin: 0;
    padding: 0;
    max-width: 282px;
    max-height: 361px;
    display: grid;
    object-fit: cover;
    list-style: none;
}

.element__image {
    max-width: 282px;
    max-height: 282px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.element__info {
    margin: 0;
    max-width: 282px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

.element__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like {
    border: none;
    background: url(././images/icon_like_outline.svg) center no-repeat;
    background-size: 100%;
    margin: 0;
    width: 22px;
    height: 19px;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
    transition: 0.3s;
}

.element__grid-like:hover {
    opacity: 0.5;
}

.element__grid_like-active {
    opacity: 1;
    background: url(././images/like_filled.svg) center no-repeat;
}

.footer__copyright {
    margin-top: 66px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(84, 84, 84, 1);
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        margin: 48px 19px 36px 19px;
    }
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        margin: 48px 19px 34px 34px;
    }
}
.popup{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display:flex;
}
.popup__opened{
    display: block;
}
.popup__container{
    margin: auto auto auto auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 430px;
    max-height: 330px;
    inset: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 320px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
    }
}

.popup__text{
    margin: 0 auto;
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
@media screen and (max-width: 320px) {
    .popup__text {
        max-width: 238px;
        max-height: 27px;
    }
}

.popup__title{
    margin: 34px 64px 54px 36px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
}

@media screen and (max-width: 320px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 900;
        margin: 25px 22px 45px 22px;
    }
}

.form__submit-btn{
    margin: 0 auto;
    margin-top: 18px;
    background-color: black;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.8px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.form__submit-btn:hover{
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .form__submit-btn {
        max-width: 238px;
        max-height: 46px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        
    }
}

.popup__close{
    border: none;
    background: url(././images/Close\ Icon.svg) center no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    transform:translate(430px, -40px);
}

.popup__close:hover{
    opacity: 0.6;
}