.popup__container {
    margin: auto auto auto auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 430px;
    max-height: 330px;
    inset: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 320px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
    }
}