.profile__avatar-image {
    width: 120px;
    min-width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .profile__avatar-image {
        width: 90px;
        min-width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__avatar-image {
        margin: 0 auto;
        width: 120px;
        min-width: 120px;
        height: 120px;
    }
}