.logo__white {
    background-image: url(./././images/logo_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}