.footer__copyright {
    margin: 66px 0px 60px 200px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(84, 84, 84, 1);
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        margin: 48px 19px 36px 34px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin: 48px 19px 34px 19px;
    }
}