.profile__button-add {
    margin: 0;
    background: url(../../../images/Vector_pluse.svg) center no-repeat;
    background-size: 15%;
    width: 150px;
    min-width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__button-add {
        margin: 0 auto;
        width: 282px;
        min-width: 282px;
        height: 50px;
        background-size: 5%;
    }
}