.popup__title {
    margin: 34px 64px 54px 36px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 320px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 75px 22px;
    }
}